body {
  width: fit-content;
  margin-left: 0.5%;
  margin-top: 0.5%;
  padding: 10px;
  border-style: groove;
}

label,
input {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 5px;
}
output {
  font-size: 1.5em;
  margin-top: 10px;
  margin-bottom: 5px;
}
button {
  background-color: blue;
  color: #fff;
}
